body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  max-height: 100vh;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 27px !important;
}

#content {
  background-color: #0494F5;
  min-height: 500px;
}

#chat-space {
  width: 50%;
  max-width: 960px;
  min-width: 820px;
  background-color: white;
  max-height: 100%;
  margin: auto;
  padding: 5px;
}

@media only screen and (max-width: 820px) {
  #chat-space {
    width: 100%;
    max-width: 800px;
    min-width: 0px;
  }
}