#chat-area {
    width: 100%;
    height: calc(100% - 74px);
    position: relative;
    overflow-y:scroll !important;
}

#message-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height:100%;
}