#chat-box {
    padding: 5px;
    position: relative;
    min-height: 150px;
    height: 100%;
    border-top: 1px solid black;
}

.form-control {
    font-size: small;
    width: 100%;
    border: 1px solid black;
    height: 100% !important;
}

.form-group {
    height:  calc(100% - 54px) !important;
    margin-bottom: 5px;
}

textarea {
    height:  calc(100% - 54px) !important;
}

.btn {
    color: white;
    background-color: #4FB3F7;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    height: 44px;
    width: 100%;
    margin-bottom: 5px;
}

.btn div {
    align-items: center;
    display: flex;
    margin-top: -10px;
}

.btn b {
    text-align: center;
    width: 100%;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #4FB3F7 !important;
    box-shadow: none !important;
}

.btn-primary:disabled {
    background-color: #800000 !important;
    opacity: 1;
}